.dashboard-background {
  position: fixed;
  width: 90%;
  height: 100%;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 60px;
  background-image: url("../background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.text-left pt-5 {
  text-align: center;
}
