.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rosybrown;
}
.content {
  min-height: calc(100vh - 120px);
  /* 80px header + 40px footer = 120px  */
}

.container-fluid {
  padding: 0px;
}

.card-container {
  margin-top: 75px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card-view {
  margin-top: 75px;
}

.card-view-contactus {
  margin-top: 75px;
  margin-bottom: 50px;
}

.table-color {
  background-color: aliceblue;
}

a.navbar-brand {
  margin-left: 60px;
}

.about-us {
  padding: 25px;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}
 */
